* {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  text-align: justify;
}
h1 {
  font-size: 2rem;
}
p {
  font-size: 3rem;
}
span {
  font-size: 5em;
}
.text {
  text-align: justify;
  color: red;
}
