* {
    box-sizing: border-box;
    
  }

  body {
      background-color: #F0E8D9;
  }

  .title {
      font-size: 64px;
      color: #58595B;
      margin-top: 75px;
      text-align: center;
  }

  .sub-title {
      font-size: 32px;
      color: #58595B;
      margin-top: 30px;
      margin-bottom: 75px;
      text-align: center;
  }

  .food {
      background-color: white;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      width: 300px;
      color: #58595B;
      overflow: hidden;
      margin-bottom: 50px;
    }

    .info {
        padding: 20px;
        text-align: center;
    }

    .menu {
        margin-top: 0px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 32px;
    }

    .menu-info {
        margin-bottom: 16px;
        font-size: 16px;
        text-align: left;
    }

    .cash {
        font-size: 16px;
        color: #0000EE;
        text-decoration: none;
    }