.progress-container {
  z-index: -99;
  position: relative;
  margin: 50px auto 50px;
  padding: 4px 0 0;
  width: 400px;
  height: 6px;
  background: #ddd;
}

li {
  position: absolute;
  top: -1px;
  left: 0;
  margin: 0;
  padding: 0;
  display: inline;
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  margin-left: 400px;
}

li::before {
  z-index: -99;
  position: absolute;
  top: -5px;
  left: -5px;
  content: "";
  height: 20px;
  width: 20px;
  background: #ddd;
  border-radius: 50%;
}
li::after {
  z-index: -99;
  position: absolute;
  top: -20px;
  left: 5px;
  transform: translate(-50%, -50%);
  content: "실적";
  width: 34px;
  background: #ddd;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding-top: 1px;
  text-align: center;
}
