@mixin position($x, $xvalue, $y: null, $yvalue: null) {
  position: absolute;
  #{$x}: $xvalue;
  #{$y}: $yvalue;

  @if xvalue == 50% and $yvalue == 50% {
    transform: translate(-50%, -50%);
  } @else if $xvalue == 50% {
    transform: translateX(-50%);
  } @else if $yvalue == 50% {
    transform: translateY(-50%);
  }
}

@mixin bg(
  $imgfile,
  $x: null,
  $y: null,
  $bgcolor: null,
  $width: null,
  $height: null
) {
  background: url(#{$imgurl}#{$imgfile}) no-repeat $x $y $bgcolor;
  background-size: $width $height;
}

// 클래스명, 모서리둥근, 높이, 패딩, 폰트크기, 폰트색상, 선색상, 배경색
@each $class, $br, $hig, $pad, $fs, $color, $borderColor, $bg in $badgeSetting {
  .#{$class} {
    border-radius: rem($br);
    height: rem($hig);
    padding: 0 rem($pad);
    font-size: rem($fs);
    color: $color;
    border: 1px solid $borderColor;
    background-color: $bg;
  }
}

@mixin hide {
  overflow: hidden;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.hide {
  @include hide;
}
