.empty0 {
  border: 3px solid blueviolet;
  padding: 10px;
  margin: 30px;
  width: 90px;
  height: 30px;
}
/* span {
  인라인속성에는 width, height 속성을 줄 수 없다. 
  주고 싶다면 display를 inline-block으로 줘야한다.
} */
.empty1 {
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 5px solid red;
  margin: 20px;
}
.empty2 {
  width: 100px;
  height: 100px;
  border: 5px solid yellow;
  margin: 10px 30px 20px;
}
.empty3 {
  width: 100px;
  height: 100px;
  border: 5px solid tomato;
  padding: 10px 20px;
}
