nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100vh;
  background-color: #f1f1f1;
  /* z-index: 2; */
}
nav .nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav .nav__list .nav__button:first-child {
  margin-top: 50px;
}

nav .nav__list .nav__button a {
  display: inline-block;
  color: #000;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 16px 0;
}

nav .nav__list .nav__button a:not(.active) {
  color: #dbdbdb;
}

nav .nav__list .nav__button a:not(.active):hover {
  color: #555555;
}
