* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}

.navbar {
  height: 60px;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.navbar img {
  float: left;
}

.menu {
  float: right;
  list-style: none;
  display: flex;
}

.menu li a {
  margin: 0px 15px;
  text-decoration: none;
  color: #545454;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.hero-header {
  background-image: url("../images/hero_header\ \(1\).jpeg");
  background-size: cover;
  background-position: center center;
  height: 450px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #545454;
  font-weight: bold;
  margin: 60px 0px;
}

.body {
  width: 735px;
  margin-left: auto;
  margin-right: auto;
}

.products {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #545454;
}

.products div {
  margin-top: 20px;
}

.products div div{
  margin-top: 4px;
}

.footer {
  clear: both;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 80px;
}

.footer a {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
}
