body {
  margin: 50px 0;
  text-align: center;
}

h1 {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  margin-bottom: 20px;
}

div img {
  padding-left: 10px;
  padding-right: 10px;
  width: 70px;
}