nav {
  margin-top: 35px;
}

nav span {
  display: none;
}

nav > ul {
  position: relative;
  float: left;
  width: 98%;
  background: #e2e2e2;
  border-bottom: 2px solid black;
}

nav > ul li {
  float: left;
  margin-bottom: -5px;
  text-align: center;
  border-bottom: 5px solid transparent;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

/* == nav li ul */
nav ul.subs {
  /* display: none; */
  position: absolute;
  left: 0;
  top: 36px;
  padding: 2%;
  width: 96%;
  background: #fff;
  color: #333;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

nav li a {
  display: block;
  text-decoration: none;
  white-space: none;
  -webkit-transition: color 450ms ease-in-out 0s,
    background-color 450ms ease-in-out 0s;
  transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
}

nav > ul > li > a {
  display: block;
  padding: 10px 25px;
  font-size: 0.875em;
  color: #333;
}
