* {
  margin: 0;
}

div {
  width: 100px;
  height: 100px;
  background: orange;
  color: white;
  box-sizing: border-box;
}

.relative {
  position: relative;
  top: 20px;
  left: 120px;
}

.absolute {
  position: absolute;
  top: 50px;
  right: 200px;
}

.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.sticky {
  position: sticky;
  top: 0;
}
