@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.content .box {
	display: block;
	position: relative;
	float: left;
	width: 25%;
	height: auto;
	overflow: hidden;
}
.content .box .photo {
	vertical-align: middle;
	width: 100%;
}
.content .box .description {
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.content .box a:hover .description {
	top: 0;
}
.content .box .description .title {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -10%;
	width: 100%;
	text-align: center;
}
.content .box .description .title h2 {
	display: inline-block;
	padding: 20px 0;
	max-width: 90%;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 400;
	color: #fff;
	/*
	border-top: 1px solid rgba(16,181,123,.2);
	border-bottom: 1px solid rgba(16,181,123,.2);
	*/
}

/* responsive CSS */
@media (max-width: 1100px) {
	.content .box {
		width: 50%;
	}
	.content .box .description .title h2 {
		font-size: 1.375em;
	}
}
@media (max-width: 800px) {
	.content .box .description .title h2 {
		font-size: 1em;
	}
}
@media (max-width: 500px) {
	.content .box {
		width: 100%;
	}
	.content .box .description .title h2 {
		font-size: 1.5em;
	}
}
@media (max-width: 400px) {
	.content .box {
		width: 100%;
	}
	.content .box .description .title h2 {
		font-size: 0.875em;
	}
}