@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
.black {
  border-radius: rem(4);
  height: rem(3);
  padding: 0 rem(20);
  font-size: rem(13);
  color: #fff;
  border: 1px solid #1e2530;
  background-color: #1e2530;
}

.purple {
  border-radius: rem(4);
  height: rem(3);
  padding: 0 rem(8);
  font-size: rem(13);
  color: #fff;
  border: 1px solid #bb6bd9;
  background-color: #bb6bd9;
}

.grey {
  border-radius: rem(4);
  height: rem(3);
  padding: 0 rem(8);
  font-size: rem(13);
  color: #1e2530;
  border: 1px solid #e5e8f0;
  background-color: #e5e8f0;
}

.hide {
  overflow: hidden;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
nav,
section,
article,
header,
footer,
main,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

body,
input,
select,
textarea,
button,
img,
fieldset {
  border: none;
}

ul,
ol,
li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

address,
cite,
code,
em,
i {
  font-style: normal;
  font-weight: normal;
}

label,
img,
input,
select,
textarea,
button,
a {
  vertical-align: middle;
}

u,
ins,
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Normalize */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=date] {
  position: relative;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

input[type=date] {
  position: relative;
  width: 100px;
}

input[type=date]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type=date]:valid::before {
  display: none;
}

html,
body {
  font-family: "Noto Sans KR", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
}

.h1 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.9rem;
  color: #060606;
}

.h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.9rem;
  color: #1e2530;
}
.h2-2 {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.9rem;
  color: #1e2530;
}
.h2-3 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3rem;
  color: #1e2530;
}

.h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #1e2530;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  height: 4.8rem;
}
.header .h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header .align {
  width: 100%;
}

.align {
  display: flex;
}
.align.left {
  justify-content: flex-start;
}
.align.right {
  justify-content: flex-end;
}
.align.both {
  justify-content: space-between;
}

.guide {
  background-color: #fff;
  border-top: 1px solid #060606;
}
.guide ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.guide li:nth-child(4n) {
  border-right: none;
}
.guide a {
  display: block;
  line-height: 3rem;
  text-align: center;
  border-bottom: 1px solid #060606;
  border-right: 1px solid #060606;
  font-size: 1.6rem;
  color: #000;
}

.mt8 {
  margin-top: 0.8rem;
}

.btn-prev {
  background: url(/images/btn_prev.svg) no-repeat center;
  background-size: 2.4rem auto;
  width: 4rem;
  height: 4rem;
}
.btn-menu {
  background: url(/images/btn_menu.svg) no-repeat center;
  background-size: 2.4rem auto;
  width: 4rem;
  height: 4rem;
}
.btn-cart {
  background: url(/images/btn_cart.svg) no-repeat center;
  background-size: 2.4rem auto;
  position: relative;
  width: 4rem;
  height: 4rem;
}
.btn-cart span {
  position: absolute;
  right: 0.1rem;
  top: 0.4rem;
  padding: 0 0.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  background-color: #ff3d45;
  color: #fff;
  border-radius: 1.6rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.shop-list .btn-cart {
  width: 2rem;
  height: 2rem;
}
.btn-like {
  background: url(/images/ico_heart.svg) no-repeat center;
  width: 2rem;
  height: 2rem;
}

.gnb {
  box-shadow: 0px -0.4rem 0.4rem rgba(6, 6, 6, 0.04);
}
.gnb ul {
  display: flex;
}
.gnb li {
  flex: 1;
}
.gnb a {
  display: block;
  padding: 3.5rem 0 0.6rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.6rem;
  text-align: center;
  color: #838a93;
}
.gnb .ico1 {
  background: url(/images/ico_gnb_off1.svg) no-repeat center 0.8rem;
}
.gnb .ico1:hover {
  background: url(/images/ico_gnb_on1.svg) no-repeat center 0.8rem;
}
.gnb .ico1:hover a {
  color: #000;
}
.gnb .ico2 {
  background: url(/images/ico_gnb_off2.svg) no-repeat center 0.8rem;
}
.gnb .ico2:hover {
  background: url(/images/ico_gnb_on2.svg) no-repeat center 0.8rem;
}
.gnb .ico2:hover a {
  color: #000;
}
.gnb .ico3 {
  background: url(/images/ico_gnb_off3.svg) no-repeat center 0.8rem;
}
.gnb .ico3:hover {
  background: url(/images/ico_gnb_on3.svg) no-repeat center 0.8rem;
}
.gnb .ico3:hover a {
  color: #000;
}
.gnb .ico4 {
  background: url(/images/ico_gnb_off4.svg) no-repeat center 0.8rem;
}
.gnb .ico4:hover {
  background: url(/images/ico_gnb_on4.svg) no-repeat center 0.8rem;
}
.gnb .ico4:hover a {
  color: #000;
}
.gnb .ico5 {
  background: url(/images/ico_gnb_off5.svg) no-repeat center 0.8rem;
}
.gnb .ico5:hover {
  background: url(/images/ico_gnb_on5.svg) no-repeat center 0.8rem;
}
.gnb .ico5:hover a {
  color: #000;
}

.tab-type1 {
  display: flex;
  background-color: #e5e8f0;
  height: 4.7rem;
  border-radius: 4.7rem;
  padding: 0.4rem;
  box-sizing: border-box;
}
.tab-type1 li {
  flex: 1;
  border-radius: 3.9rem;
}
.tab-type1 a,
.tab-type1 button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #555d57;
}
.tab-type1--active {
  background-color: #fff;
}
.tab-type1--active a,
.tab-type1--active button {
  color: #060606;
}
.tab-type2 {
  display: flex;
  padding: 0.8rem 0 0.8rem 1.6rem;
  overflow-x: auto;
}
.tab-type2 a,
.tab-type2 button {
  display: block;
  padding: 0.6rem 1.6rem;
  min-width: 6rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.3rem;
  border-radius: 3.2rem;
  color: #838a93;
  box-sizing: border-box;
}
.tab-type2--active a,
.tab-type2--active button {
  background-color: #bb6bd9;
  color: #fff;
}
.tab-type3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #e5e8f0;
  border-bottom: 1px solid #e5e8f0;
}
.tab-type3 a,
.tab-type3 button {
  display: block;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 4.5rem;
  color: #838a93;
  text-indent: 2.4rem;
}
.tab-type3--active a,
.tab-type3--active button {
  color: #000;
  text-decoration: underline;
  font-weight: 700;
}

.shop-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.shop-list__thumb {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 1.2rem;
  overflow: hidden;
}
.shop-list__thumb .badge {
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
}
.shop-list__thumb__large {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop-list__thumb__small {
  position: absolute;
  right: 0.8rem;
  bottom: 0.8rem;
  width: 13.12vw;
  height: 13.12vw;
  border-radius: 100%;
  border: 3px solid #d6d9e1;
  background-color: #fff;
}
.shop-list__title {
  font-size: 1.3rem;
  color: #1e2530;
  font-weight: 500;
  line-height: 1.8rem;
}
.shop-list__price {
  display: grid;
  gap: 0.2rem 0.4rem;
  grid-template-columns: minmax(4rem, auto) minmax(4rem, 1fr);
}
.shop-list__price--sale {
  grid-column: 1/3;
  color: #ff3d45;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
}
.shop-list__price--original {
  color: #838a93;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.6rem;
  text-decoration: line-through;
}
.shop-list__price--sell {
  color: #1e2530;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
}
.shop-list__rating {
  background: url(/images/ico_rate.svg) no-repeat left;
  padding-left: 1.8rem;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: #1e2530;
}
.shop-list__info {
  display: grid;
  gap: 0.3rem;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */