@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Noto Sans KR", sans-serif;
}

// 접근성을 위해
// 모바일 기기, 브라우저 마다 기준값이 조금씩 다르기 때문에
// 픽셀값이 아닌 퍼센트값으로 준다.
html {
  font-size: 62.5%;
}
body {
  font-size: 1rem;
}

.h1 {
  font-size: rem(18);
  font-weight: 500;
  line-height: rem(29);
  color: $black06;
}
