#serif {
    font-family:'Times New Roman', Times, serif;
}

#sans-serif {
    font-family: Arial, Helvetica, sans-serif;
}

#monospace {
    font-family: 'Courier New', Courier, monospace;
}

#cursive {
    font-family: cursive;
}

#fantasy {
    font-family: fantasy;
}

#google {
    font-family: 'Nuosu SIL', serif;
}